@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    --corBotoesH2Texto: #ffae00;
    --arrendodamentoBordas: 20px;
    --minhaFonte: "Caveat", cursive;
}
body{
    background: url(imagens/bg.png);
    text-align: center;
}
.logo{
    width: 250px;
}
h1{
    text-transform: uppercase;
    padding: 10px 0px 5px 0px;
}
h2{
    color: var(--corBotoesH2Texto);
    text-align: center;
}
header{
    background-color: #1E1F22;
    z-index: -2;
    text-align: center;
}

h1, h2, h3, button{
    margin: 10px 0px;
}
nav a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--minhaFonte);
}

.conteiner{
    background: RGBA(37, 37, 37, 0.8);
    width: 850px;
    border-radius: var(--arrendodamentoBordas);
    margin: auto;
    vertical-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 20px auto;
}

.boxImagem , .boxTexto{
    vertical-align: middle;
}
.boxTexto{
    width: 400px;
    text-align: start;
}
.imgProduto{
    width: 400px;
}
button{
    background-color: var(--corBotoesH2Texto);
    border: none;
    border-radius: var(--arrendodamentoBordas);
    padding: 15px;
    width: 150px;
    cursor: pointer;
}

section{
    padding: 20px;
}